
.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.navbar {
  border: 1px solid transparent;
  margin-bottom: 20px;
  min-height: 50px;
}

.myAlbums {
  margin-left: 80px;
  text-align: justify;
}

.delete, .edit {
  background-color: #339FFF;
  color: #ffffff;
  font-family: "Helvetica Neue"
}

.containerSignIn section,
.containerSignIn a {
  display: inline;
}

.howMany {
  font-size: 18px;
  font-weight: 500;
  margin-left: 40px;
  text-align: justify;
}

.search {
  margin-left: 40px;
  text-align: justify;
}

.image {
  float: right;
  height: 125px;
  margin: auto;
  padding-bottom: 25px;
  vertical-align: middle;
  width: 100px;
}

.format-class {
  width: 27%;
}

img {
  height: 150px;
  width: 150px;
}

.message {
  margin-left: 60px;
  text-align: justify;
}

h1 {
  padding-top: 10px;
}
